<div class="modal-header">
  <h4 class="modal-title" style="font-weight: bolder; font-size: larger">
    POST Name : {{ this.post.title }}
  </h4>
</div>
<div class="modal-body">
  <ngx-datatable
    #myTable
    class="material"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="comments"
    [loadingIndicator]="commentsLoading"
    [limit]="3"
  >
    <ngx-datatable-column name="Name" prop="name" [flexGrow]="3">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Email" prop="email" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.email }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Comments" prop="body" [flexGrow]="6">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.body }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div class="modal-footer"></div>
